* {
    margin: 0;
    padding: 0;
    font-size:x-large;
    font-family: 'Oxanium', Arial;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron';
    margin-top: 25px;
    display: block;
    color: hsla( 23.06,100%,50% ,1);
    margin-left: 15px;
}

h1 {
    text-align: center;
    margin-left: 0;
}

p, li {
    margin: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    display: flex;
    border: 1px solid black;
    max-width: 1500px;
    border-radius: 10px;
    margin: 15px;
}

#profile {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    padding-left: 100px;
    border-right: 1px solid black;
    min-width: 200px;
    align-items: center;
    background-color: hsla( 23.06,100%,50% ,1);
}

#cards {
    padding-left: 100px;
}

#profile img {
    width: 100px;
    height: 100px;
    margin-top: 25px;
    object-fit: cover;
    border-radius: 100px;
    border: 5px solid white;
}

#profile h1 {
    color: white;
    width: 100%;
}

#card {
    margin: 25px;
}

b {
    color: white;
    border-radius: 100px;
    padding: 2px 15px 2px 15px;
    background-color: hsla( 23.06,100%,50% ,1);
    display: inline-block;
}

@media screen and (max-width: 1000px) {
    * {
        font-size: large;
    }
    #box {
        flex-direction: column;
        min-width: none;
        margin: 0;
        border-radius: 0;
        border: 0;
        padding-bottom: 100px;
    }
    aside, section {
        width: 100%;
    }
    #cards {
        padding: 10px;
    }
    #profile {
        min-width: none;
        padding: 0;
        padding-bottom: 50px;
    }
}



li {
    margin-left: 50px;
}

a {
    color:hsla( 23.06,100%,50% ,1)
}