#daily-day-selector {
    display: flex;
    flex-direction: row;
}


.daily-day-info {
    min-height: 250px;
    border: 1px solid black;
    margin-top: 4px;
}



#daily-day-selector div {
    padding: 15px;
    transition-duration: 0.5s;
}


#daily-day-selector div:hover, #daily-hour-selector div:hover {
    background-color: #407dbf;
    color: white;
}



.daily-day-info-hour {
    display: inline;
    font-weight: 900;
}

table td:not(table td:last-child), table th:not(table th:last-child) {
    border-right: 1px solid black;
}

table td, table th {
    padding: 5px 10px 5px 10px;
    min-width: 100px;
}

#daily-day-infos {
    display: flex;
    flex-direction: row;
}

.daily-day-selector-selected {
    background-color: #007bff;
    color: white;
    padding: 14px;
    border: 1px solid #407dbf;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh
}

aside {
    padding: 50px;
}

h1 {
    font-size: xx-large;
}

aside:first-of-type {
    background-color: #007bff;
    color: white;
}

aside:last-of-type {
}

#daily {
    display: flex;
    flex-direction: row;
}

#daily-hours {
    margin-top: 36px;
    margin-right: 5px;
}
#daily-hours div {
    padding: 6px;
}

table b {
    font-weight: 900;
    text-decoration: underline;
}

@media screen and (max-width: 1500px) {
    body {
        flex-direction: column;
    }
    
}