html, body {
    margin: 0;
}

body {
    display: flex;
}


#left {
    background-color: #007bff;
    color: white;
    max-width: 700px;
    padding: 50px;
    margin-right: 50px;
}


#left a {
    color: white;
    text-decoration: underline;
}

#right {
    padding: 50px;
}

/* DAY SELECTOR */

#daily-day-selector {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
#daily-day-selector div {
    margin-right: 10px;
    padding: 10px;
    transition-duration: 0.5s;
}
#daily-day-selector div:hover {
    background-color: #0050dd;
    color: white;
    cursor: pointer;
}
.selected-day {
    background-color: #007bff;
    color: white;
}

/* TABLE */
table {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    border: 1px solid #cccccc;
}
i {
    margin-right: 5px;
}

/* PLACE SEARCH */
#search-place {
    display: flex;
}
#search-place input {
    padding: 5px 30px 5px 30px;
    border: 1px solid #cccccc;
    border-radius: 10px;
}
#search-place input[type="text"] {
    flex-grow: 1;
    margin-right: 5px;
}

.important-weather {
    color: #007bff;
}
#current-hour {
    background-color: #007bff;
    color: white;
}

@media screen and (max-width: 1000px) {
    #left, #right {
        padding: 15px;
    }
    #left {
        width: calc(100% - 30px);
    }
    body {
        flex-direction: column;
    }
    i {
        width: 100%;
    }
    table * {
        font-size: small;
    }
}
